* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    padding: 8rem 0;
}

.card{
    background-color:hsl(0, 0%, 12%) ;
    width: 30%;
    margin: auto;
    border-radius: 0.8rem;
    padding: 1rem;
    /* min-height: 30vh; */
}

.card-img, .card-items, .card-list{
    text-align: center;
    color: white;
    margin: 1.2rem 0;
}

.card-img img {
    border-radius: 50%;
    width: 30%;
}

p {
    font-size: 14px;
}

p:first-of-type{
    color: hsl(75, 94%, 57%);
    margin: 1rem 0;
}

.card-items p:nth-last-of-type(3n+1) {
    margin-top: 2rem;
}

ul {
    list-style-type: none;
}

.card-list > a{
    background-color: hsl(0, 0%, 20%);
    padding: 0.8rem 0;
    border-radius: 0.3rem;
    width: 100%;
}

a:hover {
    background-color:hsl(75, 94%, 57%);
    cursor: pointer;
    color: black;
}

a:focus {
    background-color:hsl(75, 94%, 57%);
    color: black;
}

li a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

footer{
    text-align: center;
    margin: 2rem 0;
    color: white;
}


@media screen and (max-width:1024px) {
    .card{
        background-color:hsl(0, 0%, 12%) ;
        width: 50%;
        /* max-width: 40%; */
        margin: auto;
        border-radius: 0.8rem;
        padding: 1.8rem;
    }
}

@media screen and (max-width:768px) {
    .card{
        background-color:hsl(0, 0%, 12%) ;
        width: 90%;
        margin: auto;
        border-radius: 0.8rem;
        padding: 1.8rem;
    }
    
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
        padding: 2rem;
    }
}

@media screen and (max-width:435px) {
    .card{
        background-color:hsl(0, 0%, 12%) ;
        width: 100%;
        margin: auto;
        border-radius: 0.8rem;
        padding: 1.8rem;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
        padding: 1rem;
    }
}

